<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desire</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
      <div class="header__inner">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="#">About</a></li>
            <li class="header__item">
              <a class="header__link" href="#">Gallery</a></li>
          </ul>
        </nav>
        <a  class="header__logo" href="#">
          <img src="../images/src/logo.png" alt="Logo">
        </a>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="#">Blog</a></li>
            <li class="header__item">
              <a class="header__link" href="#">Contact</a></li>
          </ul>
        </nav>
        <button class="menu__btn">
          <img src="../images/icon-menu.svg" alt="Icon menu">
        </button>
        <div class="rightside rightside-hide">
          <button class="rightside__btn">
            <img class="rightside__btn-img" src="../images/src/close-icon.svg" alt="icon">
          </button>
            <div class="rightside__content">
              <a  class="rightside__logo" href="#">
                <img src="../images/src/logo-big.png" alt="Logo">
              </a>
              <h3 class="rightside__title">Furniture for life</h3>
              <p class="rightside__text">Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn</p>
              <img class="rightside__img" src="../images/src/rightside-img.jpg" alt="images" >
            </div>
        </div>
      </div>
      </div>
    </header>
    
     
      
  

